# 🚀 Archivos de Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
db.sqlite3

# 🚀 Virtual environments (Evita subir el entorno virtual)
venv/
.venv/
env/
.env/

# 🚀 Archivos de configuración sensibles (Variables de entorno)
.env
.env.local
.env.development
.env.production
*.secret
config.yaml

# 🚀 Dependencias de Python
pip-log.txt
pip-delete-this-directory.txt
poetry.lock

# 🚀 Archivos de logs y debugging
logs/
*.log
debug.log

# 🚀 Archivos de caché y compilación
.mypy_cache/
.pytest_cache/
.coverage
.cache/
.tox/
htmlcov/

# 🚀 Carpetas de distribución y build
dist/
build/
site/

*.ruff_cache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
